.g {background-color: #FED966}
.d {transform: rotate(-90deg);
border-collapse: collapse;
border: 0}
.gd {
transform: rotate(-90deg);
border-collapse: collapse;
border: 0;
 }
TABLE {border-collapse: collapse}